/*资产信息*/
#shaixuanhou{display:block;}
.shaixuan{height: 43px;padding:0 12px ;line-height: 43px;border-bottom: 1px solid #c5c5c5;letter-spacing: 1px;background: #fff;}
.shaixuan .text{color: #282828;float: left;}
.shaixuan .pic{float: right;width:22px ;height: 12px;display: inline-block;}

.asset_contain .option_style{height: 32px;line-height: 32px;padding-left: 12px;border-bottom: 1px solid #c5c5c5;border-top: 1px solid #c5c5c5;margin-top: 10px;background: #fff;}
.asset_contain .option_style li{color: #282828;width: 33%;float: left;}
.asset_contain .contain_main {background: #fff;}
.asset_contain .contain_main li .item{height:38px;line-height: 38px;border-bottom: 1px dashed #c5c5c5;margin: 0 12px;color: #282828;letter-spacing: 1px;display: block;}
.asset_contain .contain_main li .item .leixing{width:63px;text-align:center;height: 24px;line-height: 24px;border-radius: 5px;border: 1px dashed #8baeff;margin-top: 7px;float: left;}
.asset_contain .contain_main li .item .money{width:25%;height: 38px;line-height: 38px;float: left;text-align: center;margin-left: 12%;}
.asset_contain .contain_main li .item .xiangmuname{overflow: hidden;text-overflow:ellipsis;white-space: nowrap;width: 40.7%;float: right;}
.indent_more{height: 25px; border: none;border-bottom: #c5c5c5 1px solid; font-family: "微软雅黑";color: #888;background: #f4f4f4;letter-spacing: 2px;margin-bottom: 10px;}
.indent_more::-webkit-input-placeholder{color:#888;}

/*资产信息详情*/
/*图片块*/
.asset_detail{margin:12px 12px;overflow: hidden;}
.big_pic{overflow: hidden;width: 54%;}
.big_pic a{width: 100%;}
.small_pic{width: 46%;overflow: auto;}
.small_pic ul{width: 102%;}
.small_pic li{display: inline-block;width:35.7%;margin: 2% 0 3% 12%;}
.small_pic li:nth-child(1){margin-top: 0px;}
.small_pic li:nth-child(2){margin-top: 0px;}
.small_pic li a{display: inline-block;width:100%;border: 1px solid #f4f4f4;}
.small_pic li a img{}
.small_pic .on{border-color:#8baeff;}

.detail_main{height: auto;border: 1px solid #c5c5c5;border-radius: 15px;margin: 0 12px 8px 12px;background: #fff; letter-spacing: 1px;}
.detail_main li{height: 42px;margin: 0 12px;border-bottom: 1px solid #d5e2ff;line-height: 42px;color: #282828;}
.detail_main li:last-child{height: 42px;margin: 0 12px;line-height: 42px;color: #282828;border: none;}
/*债权信息-无数据*/
.search_none{height: 420px;width: 100%;background-color: #FFFFFF; text-align:center;}
.search_none img{width: 166px;margin-top: 129px;}
.search_none p{font-size: 12px;color: #888888;padding-top: 4px;line-height: 25px;}

/*背景图 */
.banner{width: 100%;}
.banner img{}

/*筛选项*/
#shaixuanxiang{display: none;width: 100%;}
.shaixuan button{width: 22px;height: 11px;border: none;margin: 16px 3.2% 0 0;}
.open{background: url(../image/content_icon_drop-down_sel.png) no-repeat;background-size: 100% 100%;}
.close{background: url(../image/content_icon_drop-down_nor.png) no-repeat;background-size: 100% 100%;}
.cont_list{margin: 0 0 0 0;}
.cont_list>li:first-child{border:none;}
.cont_list>li{background-color: #fff;margin: 0 0 0 0;/*border-bottom: 1px solid #C5C5C5;*/border-top: 1px solid #C5C5C5;}
.cont_item_head{height: 30px;line-height: 30px;}
.cont_item_head .genre{margin-left: 3.2%;}
.cont_item_head button{width: 22px;height: 11px;border: none;margin: 9px 3.2% 0 0;}
.cont_item_head .astrict{color: #B2ACA8;margin-right: 3.2%;}
.spill{width: 40%;overflow: hidden;height: 100%;vertical-align: top;White-space:nowrap;Text-overflow:ellipsis;margin-left: 10%;}
.cont_list .genre_list{padding: 0 0 12px 0;}
.genre_list li{display: inline-block;width: 28.6%;height: 38px;text-align: center;line-height: 38px;margin: 12px 0 0 3.2%;border-radius: 4px;font-size: 1.2em;}
.genre_list li span{display: inline-block;}
.pitch_on{background:url(../image/sel.png) no-repeat 11% 14px #8baeff;background-size: 12px 12px; color: #fff;}
.pitch_none{background-color: #F4F4F4;}

/*search 底部*/
/*.main{overflow: auto;}*/
.search{width: 100%; height: 60px;line-height: 60px;border-top: 1px solid #C5C5C5;margin: 12px 0 0 0;}
.search_btn{width: 53.3%;height: 44px;background-color: #4976E8;border: none;border-radius: 4px;}

/*筛选详情*/

@media screen and (max-width:320px){

.asset_contain .contain_main li .item .money{margin-left:10% ;}
}
@media screen and (min-width:768px){

.asset_contain .contain_main li .item .money{margin-left:15.5% ;}
.asset_contain .contain_main li .item .xiangmuname{margin-right: 7%;}
}
